<!-- Q-1 -->

<div style= "text-align: center">
<h1>
Letter grade based on IT6203 class grading policy {{appTitle}}
</h1><br/>
</div>

<button class= "buttontype" mat-raised-button (click)="generateRandom()">
Click here to generate a random number
</button>  
<br>

<!-- * using strong command to display a positive integer *-->
<p>
   <strong>{{ randomNumberMessage }}</strong>  
</p>  

<div [ngSwitch]="switchHelper()">
<div *ngSwitchCase="'A'">
    <p class="goodscore"><strong>Your Grade: A.</strong></p>
</div>

<div *ngSwitchCase="'B'">
    <p class="passedscore"><strong>Your Grade: B.</strong></p>
</div>

<div *ngSwitchCase="'C'">
    <p class="passedscore"><strong>Your Grade: C.</strong></p>
</div>

<div *ngSwitchCase="'D'">
    <p class="passedscore"><strong>Your Grade: D.</strong></p>
</div>

<div *ngSwitchCase="'F'">
    <p class="failedstyle"><strong>You Failed.</strong></p>
</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!--Q-2 -->

<div style= "text-align: center">
    <h1> Displays credit card logo based on the credit card's starting number {{appTitle}}
    </h1>
    <br/>
</div>

<input type="text" [(ngModel)]="cardNumberInput" />

<p>Entered card number: {{ cardNumberInput }}</p>

<img creditCardLogo [cardNumber]="cardNumberInput" width="200" />

    
<router-outlet></router-outlet>
