<!--****** Question 1 ******-->
<div style= "text-align: center">
<h1>
Letter grade based on IT6203 class grading policy {{title}}
</h1><br/>
</div>

<button class= "buttontype" mat-raised-button (click)="generateRandom()">
Click to generate random number
</button>  
<br />

<!-- * using strong command to display a positive integer *-->
<p>
   <strong>{{ randomNumberMessage }}</strong>  
</p>  

<div [ngSwitch]="switchHelper()">
<div *ngSwitchCase="'A'">
    <p class="goodscore"><strong>Your Grade: A.</strong></p>
</div>

<div *ngSwitchCase="'B'">
    <p class="passedscore"><strong>Your Grade: B.</strong></p>
</div>

<div *ngSwitchCase="'C'">
    <p class="passedscore"><strong>Your Grade: C.</strong></p>
</div>

<div *ngSwitchCase="'D'">
    <p class="passedscore"><strong>Your Grade: D.</strong></p>
</div>

<div *ngSwitchCase="'F'">
    <p class="failedstyle"><strong>You Failed.</strong></p>
</div>

</div>

<!--****** Question 2 ******-->

<div style= "text-align: center">
    <h1>
    Display credit card logo based on the credit card number {{title}}
    </h1><br/>
</div>

<input
  type="text"
  [(ngModel)]="cardNumberInput"
/>

<p>Entered card number: {{ cardNumberInput }}</p>
<img appCardlogo [cardNumber]="cardNumberInput" width="300" />
<router-outlet></router-outlet>
